@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap'); 
/*font-family: "Playfair", serif;*/

@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); /*font-family: "Playfair", serif;*/



:root {
  /* Backgrounds */
  --bg-color: #121212;         /* Main background */
  --surface-color: #1e1e1e;    /* Card and sidebar background */
  --surface-hover: #2d2d2d;    /* Hover states for cards */

  /* Brand Colors (from your logo) */
  --primary-blue: #3b82f6;     /* Main blue from logo */
  --primary-green: #10b981;    /* Main green from logo */
  
  /* Accent Color (for high conversion) */
  /* --accent-orange:#006d77; */
  --accent-orange: #f59e0b;    /* CTA buttons (Buy, Download PYQs) */
  --accent-orange-lite: #f59f0bbb;    /* lighter version CTA buttons (Buy, Download PYQs) */
  --accent-hover: #d97706;

  /* Typography */
  --text-high: #e5e7eb;        /* Main headings */
  --text-medium: #bdc6d5;      /* Secondary text / descriptions */
  --text-disabled: #6b7280;    /* Placeholders and footer text */

  /* Borders & Dividers */
  --border-color: #40536d;

  --font-family-primary: 'Raleway', sans-serif;
  --font-family-secondary: 'Playfair', serif;
}


*{
    margin: 0;
    padding: 0;
    color: var(--text-high);
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
  color: var(--color-text);
}

.primary-container {
  max-width: 100%;
  margin: 0 auto;
  /* padding: 20px; */
}

.navbar{
    background-color: var(--surface-color);
    padding: 15px 70px;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--border-color);

}

.b{
    border: 1px solid white;
}

.nav-left{
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-left .logo{
    width: 130px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;

}

.nav-left .logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.nav-right{
    display: flex;
    gap: 30px;
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-list .nav-items{
    font-size: 16px;
    font-weight: 500;
    transition: color var(--transition);
    font-family: var(--font-family-primary);
}

.nav-list .nav-item:hover{
    color: var(--accent-orange);
    cursor: pointer;
}

.signup{
    display: flex;
    gap: 20px;
}

.signup-btn {
    color: var(--bg-color);
    padding: 8px 16px;
    border-radius: 100px;
    cursor: pointer;
    background-color: var(--accent-orange-lite);
    /* box-shadow: 1px 1px 5px 0px var(--accent-orange); */
    transition: background-color var(--transition), color var(--transition);
    font-weight: 600;
}

.signup-btn:hover{
    background-color:var(--accent-hover) ;

}
.hero-section{
    padding: 170px 0px;
    width: 100%;
    /* margin-top: 20px; */
    height: auto;
    background-color: #11295a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("Assets/hero3_resisez2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    /* border-bottom: 1px solid var(--border-color); */
}

.hero-title{
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10px;
    font-family: var(--font-family-primary);
}

.title-slogan{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: var(--text-medium);
    font-family: var(--font-family-secondary);
}

.CTA-btn{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    
}

.primary-CTA{
    background-color: var(--accent-orange);
    color: var(--bg-color);
    border: none;
    padding: 12px 30px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    /* border: 2px solid var(--bg-color); */
    /* box-shadow: 1px 1px 5px 0px var(--accent-orange); */
    cursor: pointer;
    transition: background-color var(--transition), color var(--transition);
}
.primary-CTA:hover{
    background-color: var(--accent-hover);
}

.secondary-CTA{
    padding: 12px 30px;
    background-color: var(--bg-color);
    border: 1px dotted var(--accent-orange);
    color: var(--accent-orange);
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    /* box-shadow: 1px 1px 5px 0px var(--accent-orange); */
    transition: background-color var(--transition), color var(--transition);
}
.secondary-CTA:hover{
    background-color: var(--accent-orange);
    color: var(--bg-color);
}


.trust-lines{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: var(--text-medium);
    font-family: var(--font-family-primary);
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.working{
    background: linear-gradient(to bottom, black, var(--bg-color), var(--bg-color));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    border-bottom: 1px solid var(--border-color);
}

.detail-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 20px;
}

.detail-title{
    font-size: 28px;
    font-weight: 700;
    font-family: var(--font-family-primary);
}



.person-btn{
    margin-top: 10px;
    margin: 0px 5px;
    background-color: var(--bg-color);
    color: var(--accent-orange-lite);
    border: 1px dotted var(--accent-orange);
    padding: 10px 25px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color var(--transition), color var(--transition);
}

.active{
    background-color: var(--accent-orange);
    color: var(--bg-color);
}

.step-box{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: 10px auto;
    gap: 5px;
    padding: 10px 30px;
    
}

.step-card{
    padding: 20px;
    background: rgba(255,255,255,0.02);
    border-radius: 12px;
    padding: 24px;
    border-radius: 12px;
    width: 220px;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
}

.step-logo i{
    font-size: 35px;
    color: var(--accent-orange);
}

.passive-logo i{
    color: var(--text-disabled);
}

.step-data{
    text-align: center;
    height: 100px;
    display: flex;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}

.step-title{
    font-size: 20px;
    font-weight: 700;
    font-family: var(--font-family-primary);
}
.arrow i{
    font-size: 30px;
    color: var(--accent-orange);
}

.result{
    padding: 20px 0px;
    text-align: center;
    display: flex;
    /* flex-direction: column; */
    gap: 30px;
}

.outcome{
    font-size: 16px;
    color: var(--text-medium);
    font-family: var(--font-family-primary);
}
.browse{
    font-size: 18px;
    font-weight: 600;
    color: var(--accent-orange);
    cursor: pointer;
    font-family: var(--font-family-primary);
}

.browse i{
    font-size: 14px;
    margin-left: 5px;
    color: var(--accent-orange);
}



@media (max-width: 1200px) {
    .step-box{
        flex-wrap: wrap;
        gap: 30px;
    }

    .result{
        flex-direction: column;
        gap: 15px;
    }
}